<%- include("partials/header") %>
        
  <h1 class="p-2 w-full bg-black text-white">Map Editor</h1>
  <div class="grid grid-cols-4 h-screen">
    <div id="map-container" class="col-span-3 h-9/10 bg-slate-50 overflow-x-scroll overflow-y-scroll">
      <div id="map" class="w-auto h-auto" data-mapWidthPx="<%= mapWidthPx %>" data-mapHeightPx="<%= mapHeightPx %>">
        <% for (y=-Math.floor(mapNumVerticalCells/2); y<Math.ceil(mapNumVerticalCells/2); y++) { %>
          <% for (x=-Math.floor(mapNumHorizontalCells/2); x<Math.ceil(mapNumHorizontalCells/2); x++) { %>
            <% var borderColor = (map[y][x].isEmpty) ? 'border-gray-100' : 'border-gray-400' %>
            <div id="map-cell-<%= y + '-' + x %>" data-x="<%= x %>" data-y="<%= y %>" class="map-cell <%= borderColor %> hover:border-sky-300 p-4 m-2 w-40 h-25 text-xs rounded-sm float-left text-center border-1 block cursor-pointer select-none">
              <%= map[y][x].x %>,<%= map[y][x].y %> : <%= map[y][x].name %>
            </div>
          <% } %>
          <p class="clear-both" />
        <% } %>
      </div>
    </div>
    <div id="edit-form" class="col-span-1 h-9/10 bg-gray-300 ml-2 p-4">
      <h1 class="font-bold mb-2">Edit Location</h1>

      <p>
        <label for="location-coords">Coords:</label><br />
        <input id="location-coords" type="text" class="border-0" disabled="disabled" />
      </p>

      <p>
        <label for="location-name">Location Name:</label><br />
        <input id="location-name" type="text" class="border-1" />
      </p>

    </div>
  </div>

<%- include("partials/footer") %>
