<%- include("partials/header") %>
        
  <h1 class="p-2 w-full bg-black text-white">Map Editor</h1>
  <div class="grid grid-cols-4 h-screen">
    <div id="map-container" class="col-span-3 h-9/10 bg-slate-50 overflow-x-scroll overflow-y-scroll">
      <div id="map" class="w-auto h-auto" data-mapWidthPx="<%= mapWidthPx %>" data-mapHeightPx="<%= mapHeightPx %>">
        <% for (y=-Math.floor(mapNumVerticalCells/2); y<Math.ceil(mapNumVerticalCells/2); y++) { %>
          <% for (x=-Math.floor(mapNumHorizontalCells/2); x<Math.ceil(mapNumHorizontalCells/2); x++) { %>
            <% var borderColor = (map[y][x].isEmpty) ? 'border-gray-200' : 'border-gray-500' %>
            <% var bgColor = (map[y][x].isEmpty) ? 'bg-gray-50' : 'bg-gray-200' %>
            <% var isEmpty = (map[y][x].isEmpty) ? 'true' : 'false' %>
            <div id="map-cell-<%= y %>-<%= x %>" data-x="<%= x %>" data-y="<%= y %>" data-is-empty="<%= isEmpty %>" class="map-cell <%= borderColor %> <%= bgColor %> hover:border-sky-300 p-4 m-2 w-40 h-25 text-xs rounded-sm float-left text-center border-1 block cursor-pointer select-none relative">
              <span class="cell-name-text"><%= map[y][x].name %></span>
              <div class="<% if (!map[y][x].dirs.north) { %>hidden<% } %> path-north absolute block top-0 left-0 w-1 h-4 border-l-1 border-gray-500 ml-19" style="margin-top:-11%;"></div>
              <div class="<% if (!map[y][x].dirs.east) { %>hidden<% } %> path-east absolute block top-0 left-0 w-4 h-1 border-b-1 border-gray-500 mt-11" style="margin-left: 100%;"></div>                
            </div>
          <% } %>
          <p class="clear-both" />
        <% } %>
      </div>
    </div>
    <div id="edit-form" class="col-span-1 h-9/10 bg-gray-300 ml-2 p-4">

      <form id="location-form" class="hidden">
        
        <h1 class="font-bold mb-2">Edit Location</h1>

        <p id="location-form-status" class="text-lime-700 select-none w-full text-right absolute top-12 right-0 pr-5"></p>

        <p class="mb-4">
          <label for="location-coords">Coords:</label><br />
          <input id="location-coords" type="text" class="border-1 w-full p-1 font-mono text-xs" disabled="disabled" />
        </p>

        <p class="mb-4">
          <label for="location-name" class="pt-2 mb-2">Location Name:</label><br />
          <input id="location-name" type="text" class="border-1 w-full p-1 bg-gray-100 font-mono text-xs" />
        </p>

        <p class="mb-4">
          <label for="location-desc" class="pt-2 mb-2">Location Description:</label><br />
          <textarea id="location-desc" type="text" class="border-1 w-full h-30 p-1 bg-gray-100 font-mono text-xs"></textarea>
        </p>

        <p class="mb-4">
          <label class="pt-2 mb-4">Valid Move Directions:</label><br />
          <span class="w-6/10 block text-center clear-both pt-2 text-xs">NORTH<br /><input class="location-dir location-dir-north p-1" type="checkbox" /></span>
          <span class="w-3/10 block text-center float-left pt-2 text-xs">WEST <input class="location-dir location-dir-west p-1" type="checkbox" /></span>
          <span class="w-3/10 block text-center float-left pt-2 text-xs"><input class="location-dir location-dir-east p-1" type="checkbox" /> EAST</span>
          <span class="w-6/10 block text-center clear-both pt-2 text-xs"><input class="location-dir location-dir-south p-1" type="checkbox" /><br />SOUTH</span>
        </p>

      </form>

    </div>
  </div>

<%- include("partials/footer") %>
